.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.through {
    text-decoration: line-through;
}
.underline {
    text-decoration: underline;
}
.marked_green {
    background-color: #47ff11;
}.marked_mag {
    background-color: #fc0dff;
}
.small {
    font-size: .75em;
}
h1,
h2,
h4{
    text-align: center;
    font-family: Georgia, serif;
}
h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1.25em;
}
body {
    background: url("../img/1.db74eb52.svg");
    background-size: 100px;
    padding: 25px 100px 0;
    border-radius: 10px;
    tab-size: 18px;
    line-height: 1.6em;
}
header,
.navMenu {
    text-shadow: 1px 1px 2px black, 0 0 2px /*1em*/ black; /* Параметры тени */
    color: white; /* Белый цвет текста */
    text-decoration: none;
    text-align: center;
}
nav p {
    text-align: center;
    /*border: 5px double #5a9b85;*/
    /*border-left: none;*/
    /*border-right: none;*/
    /*padding: 5px 0;*/
}
.h-text {
    margin: 5px;
    padding: 5px;
    border: 3px solid #5a9b85;
    border-radius: 10px;
    background-color: rgba(211,246,246,0.85);
    display: inline;
}
.navMenu {
    color: white; /* Белый цвет текста */
    text-decoration: none;
    margin: 0 4px;
    padding: 2px 4px;
    border: 3px solid #5a9b85;
    border-radius: 10px;
    background-color: rgba(211,246,246,0.85);
}
.navMenu:hover {
    color: orange;
}
.navMenu:active {
    font-size: 0.8em;
}
section {
    border: 2px dotted #49836E;
    padding: 5px 25px 25px;
    margin-bottom: 25px;
    background-color: rgba(211,246,246,0.85);
}
section p,
section details,
section ul,
section ol,
section li {
    text-indent: 20px;
    margin: 0;
}
section a.navMenu {
    margin-top: 5px;
    display: inline-block;
}
section h3 {
    margin: 15px 0 0 0;
}
section img {
    display: block;
    border: 2px solid limegreen;
}
caption {
    text-align: left; /* Выравнивание по левому краю */
}
table {
    margin: auto;
    border-spacing: 5px;
}
tr {
    background: rgba(219, 255, 255, 0.85);
}
tr:nth-child(2n) {
    background: rgba(200, 235, 235, 0.85);
}
td {
    text-align: center;
    padding: 5px 15px;
}
iframe {
    display: block;
    width: 720px;
    height: 480px;
}
form div {
    margin: 5px 5px 3px;
}
form div label {
    display: block;
}
input,
textarea {
    background: rgba(219, 255, 255, 0.65);
}
textarea {
    width: 720px;
    height: 50px;
}
input[type="submit"] {
    background: rgba(201, 235, 235, 0.65);
}
input[type="submit"]:hover {
    background: rgba(164, 195, 195, 0.65);
}
section#contacts ul {
    list-style-type: square;
}
a img {
    width: 16px;
    height: 16px;
    display: inline;
    border: none;
}
.books li {
    color: darkgoldenrod;
}
.books li:nth-child(2n)  {
    color: darkturquoise;
}
.books li:nth-child(3n)  {
    color: darkorchid;
}
.books li:nth-child(4n)  {
    color: darkred;
}
footer {
    color: #888888;
    border-top: 2px dotted #49836E;
    margin-top: 25px;
    background-color: rgba(211,246,246,0.85);
}
footer p {
    margin-bottom: 0;
    line-height: 1.2em;
    text-align: center;

}
/************************************************/
#booklist .links a {
    text-decoration: none;
    color: #000000;
}
.selectors + ul{
    list-style-type: square;
}
#booklist .links li:nth-child(even){
    color: #e1e1e1;
    background: #e1e1e1;
}
#booklist .links li:nth-child(odd){
    color: #88e17e;
    background: #88e17e;
}
#booklist .links a[href^=http]{
    color: #e14848;
}
#booklist .links a[href^=https]{
    color: #4848e1;
}
#booklist .links a[href*=void]{
    color: #48e148;
}
#booklist .links a:empty{
    font-size: 13px;
    padding: 1px;
    color: #ffffff;
    background: #000000;
}
#booklist .links a:empty::after{
    content: 'emptiness emptiness emptiness';
}
#booklist .links li:first-child,
#booklist .links li:last-child{
    font-size: 1.33em;
    text-indent: 33px;
}