@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:400,800');
/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/
body {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
}
a, h1, h2, div, .row__title, .row__subtitle, .row__text {
    color: #60606e;
}
a, h1, h2, .row__title, .row__subtitle {
    text-transform: uppercase;
}
a, h1, .row__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
h2, .row__subtitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}
div, .row__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
.head {
    background: url("img/header_bg.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    /*height: 500px;*/
    border: 1px solid transparent;
}
.ba-container {
    width: 1140px;
    margin: 0 auto;
    padding-top: 1px;
}
.head__logo {
    float: left;
    margin-top: 40px;
}
.head__triline {
    float: right;
    margin-top: 40px;
}
.head__title {
    text-align: center;
    margin-top: 270px;
    font-size: 36px;
}
.menu {
    margin-top: 26px;
    margin-bottom: 164px;
    text-align: center;
}
.ba-grid:before,
.ba-grid:after {
    content: '';
    display: block;
    clear: both;
}
.ba-grid {
    display: inline-block;
    width: 100%;
    /*float: left;*/
    box-sizing: border-box;
}
.row__col--2 {
    width: 50%;
}
.row__col--3 {
    width: 33.333%;
}
.row__col--8 {
    width: 12.5%;
}
[class^='row__col'] {
    float: left;
    box-sizing: border-box;
}
